<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
<img src=./images/user-286.png" alt="User Icon" class="user-icon">
        <form method="POST" action="{{ url_for('login') }}">
            <label for="user">User:</label>
            <input type="text" name="username" id="user"> <br>
            <label for="pass">Password:</label>
            <input type="password" name="password" id="pass"> <br>
            <input type="submit" value="Enviar">
        </form>
<p> ¿No tienes una cuenta? <a href="register.html"> Registrarse </a>
    </div>
</body>
</html>
